[v-cloak] {
    display: none
}

::-webkit-scrollbar {
    width: 0px;
}

html {
    max-width: 960px;
    margin: 0 auto;
    height: 100%;
}

body {
    line-height: 1;
    height: 100%;

}

#app {
    position: relative;
    min-height: 100%;

}

.bg-img {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: #fff;
    background-repeat: repeat-y;
    background-size: 100%;
    z-index: 0;
    opacity: .8;

}
.bg-img .bg-f {
    position: absolute;
    width: 30%;
    height: 30%;
    bottom: 0;
    z-index: 1;
}
.bg-img .bg-l {
    left: 0;
}
.bg-img .bg-r {
    right: 0;
}
.bg-img .bg-num {
    position: absolute;
    right: 5px;
    bottom: 5px;
    font-size: 18px;
    color: #fff;
}

.bg-img .bg-mask {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .6);
}

.list-group {
    margin-bottom: 0;
    border: 1px solid #555;
}

.list-box {
    position: relative;
    z-index: 1;
}

.list-box .panel {
    margin-bottom: 15px;
    box-shadow: 1px 2px 6px rgba(45, 45, 45, .5);
    background-color: rgba(255, 255, 255, .7) !important;
}

.list-box .panel:last-child {
    margin-bottom: 0
}

.panel .panel-heading {
    display: flex;
    justify-content: space-between;
    font-size: 17px;
    font-weight: bolder;
    cursor: pointer;
}
.panel .panel-heading .num {
    font-size: 12px;
}
.panel .list-group-item {
    font-size: 16px;
    color: #333;
    font-weight: bolder;
    display: flex;
    margin-bottom: 0;
    justify-content: space-between;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #888;
}

.panel .list-group-item .r {
    font-size: 14px;
    color: #673921;
}

.intro-box {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, .3)
}

.intro-wrap {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    min-height: 50px;

    background: #fff;
    z-index: 2;
    border-radius: 10px;
    box-shadow: #e3e3e3 0 0 5px;
    padding: 15px;
}

.intro-box .close {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #ac3a39;
    position: absolute;
    right: -10px;
    top: -10px;
    z-index: 10;
}

#search {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    margin-bottom: 15px;
}

.search {
    height: 38px;
    font-size: 18px;
    font-weight: bolder;
    text-align: center;
}

.del {
    position: absolute;
    right: 15px;
    top: 50%;
    z-index: 3;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 1px solid #ac3a39;
    display: flex;
    justify-content: center;
    font-size: 20px;
    color: #ac3a39;
    line-height: 20px;
    transform: translateY(-50%);
    cursor: pointer;
}

.intro-box .intro {
    font-size: 20px;
    line-height: 1.5;
    max-height: 80vh;
    overflow-y: auto;
    text-align: justify;
}

.dark {
    background-color: #2d2d2d !important;
    min-height: 100%;
}

.dark * {
    background-color: #2d2d2d !important;
    color: #999 !important;
    border-color: #666 !important;
}

.dark .list-box {
    background-color: transparent !important;
}

.dark .panel {
    background-color: #2d2d2d !important;
}

.sticky {
    position: sticky;
    top: 37px;
    left: 0;
    z-index: 1;
}
.panel .pwd-icon {
    /* color: #A00000 !important; */
    line-height: 1;
    font-size: 16px !important;
    padding-left: 1px;
}