<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Cache-control" content="no-cache">
    <meta http-equiv="Cache" content="no-cache">
    <meta name=App-Config content="fullscreen=yes,useHistoryState=yes,transition=yes">
    <meta content=yes name=apple-mobile-web-app-capable>
    <meta content=yes name=apple-touch-fullscreen>
    <meta content="telephone=no,email=no" name=format-detection>
    <meta name="theme-color" content="#1a1a1a">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
    <meta name=viewport
        content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no,viewport-fit=cover">
    <link rel="stylesheet" href="css/maokan.css">
    <link rel="stylesheet" href="css/video.css">
    <title></title>
    <style>
        * {
            padding: 0;
            margin: 0;
            box-sizing: border-box;
        }

        #app {
            width: 100%;
            min-height: 100vh;
            padding: 10px 5px;
        }

        #video-list {
            position: relative;
            width: 100%;
            height: auto;
        }

        #video-list::-webkit-scrollbar {
            width: 0 !important
        }

        #video-box {
            position: sticky;
            position: -webkit-sticky;
            top: 0;
            z-index: 1;
            background: #000;
        }

        .video-wrapper {
            position: relative;
        }

        .video-js .vjs-big-play-button {
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        #my-video {
            width: 100%;
            max-width: 720px;
            height: 60px;
            display: block;
            margin: 0 auto;
            border: 1px solid #222;
            border-radius: 20px;
            object-fit: cover;

        }

        #my-video.audio {
            height: 60px;
        }

        .video-js .vjs-tech {
            border-radius: 20px;
        }

        #my-video.video {
            height: 56vw;
            max-height: 405px;
        }

        .panel-heading {
            font-size: 18px;
            color: #b3b3b3;
            padding: 5px;
            border: 1px solid #ddd;
            margin-top: 10px;
        }

        .info.active {
            color: #b3b3b3;
        }

        .h {
            position: sticky;
            top: 0;
            background: #000;
        }

        #video-box .select {
            height: 24px;
            color: #ac3a39 !important;
            padding: 0 3px;
            font-size: 15px;
        }

        #video-box .select option {
            color: #ac3a39 !important;
            padding: 3px 0 !important;
        }
    </style>
</head>

<body>
    <div id="app" v-cloak :class="{'dark': isDark}">
        <!-- autoplay="autoplay" -->
        <div id="video-box">
            <div class="video-wrapper">
                <!-- <video id="my-video" :class="{video: true,audio: !isVideo}" :src="videoSrc" controls preload="auto" x5-playsinline="false" playsinline=‘false’ webkit-playsinline=‘false’ poster="https://api2022.xukongji.com/upload_file/20220830111608-630d80f8e497c.jpg">
            </video> -->
                <video id="my-video" class="video-js" :class="{video: isVideo}" controls preload="auto"
                    x5-playsinline="false" playsinline=‘false’ webkit-playsinline=‘false’>
                    <!-- <source :src="videoSrc" type="video/mp4" /> -->
                </video>
            </div>

            <div class="panel-heading h">
                <div class="h-r">
                    {{title.slice(0,15)}}
                    <select v-if="times > 3" class="form-control select" @change="selectTimes">
                        <option value="1">播完当前</option>
                        <option value="0" v-if="times>6">全部循环</option>
                        <option :value="n" v-if="n>1" v-for="n in times" :key="n">
                            播完{{n}}集
                        </option>
                    </select>
                    {{rtime}}
                </div>
            </div>
        </div>

        <div id="video-list">
            <div class="panel panel-default">

                <div class="panel-body">
                    <div class="box">
                        <!-- @click="toPage(item)" -->
                        <div class="box-item" v-for="(item,idx) in list" :key="item.id" @click="switchVideo(item, idx)"
                            :ref="'v'+item.id">
                            <div class="info" :class="{active:item.id === currId}">
                                <div>
                                    <span class="order">{{idx+1}}.</span>
                                    <span class="title">{{item.title}}</span>
                                    <span v-if="item.video_time">{{item.video_time}}</span>
                                </div>
                                <div class="time" v-if="item.date">
                                    <span>时间：{{item.date}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<script src="js/vue.js"></script>
<script src="js/video.js"></script>
<script>
    var that;
    new Vue({
        el: '#app',
        data: function () {
            return {
                title: '虚空济',
                id: null,           // 课程的id
                list: [],
                isDark: false,
                isVideo: true,
                apiUrl: 'https://api2022.xukongji.com',
                videoSrc: '',
                rtime: 0,
                currId: 0,
                currTime: 0,
                currIdx: 0,
                elevideo: null,
                player: null,
                options: {},        // 视频设置
                xkj_video: {},
                xkj_time: {},
                times: 5,          // 可以选择定时播放的集数
            }
        },
        methods: {
            // 获取url参数
            getParams: function (name) {
                var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)");
                var r = window.location.search.substr(1).match(reg);
                if (r != null) return decodeURI(r[2]);
                return null;
            },

            // 将秒转换成分和秒
            myTime: function (time) {
                var hr = ~~(time / 3600);
                var min = ~~((time % 3600) / 60);
                var sec = time % 60;
                var sec_min = "";
                if (hr > 0) {
                    sec_min += "" + hr + ":" + (min < 10 ? "0" : "");
                }
                sec_min += "" + min + ":" + (sec < 10 ? "0" : "");
                sec_min += "" + sec;
                return sec_min;
            },
            getJson: function (url, config) {
                opt = {
                    headers: {
                        'Cache-Control': 'public,max-age=7200', //不缓存
                        'Content-Type': 'application/json'
                    }
                }
                if (config) Object.assign(opt, config)
                return fetch(url, opt).then((res) => {
                    if (res.ok) {
                        // text() 获取字符串，json()获取json数据
                        return res.json()
                    } else {
                        if (res.status === 404) {
                            alert('当前网页维护中...，请点击确定关闭')
                            window.close();
                        }
                        // 服务器异常
                        throw Error('')
                    }
                }).catch((error) => {
                    console.log('errorMessage', error)
                })
            },

            // 保存本地视频位置
            saveVideo: function () {
                var xkj_video = localStorage.getItem('xkj_video');
                if (xkj_video) this.xkj_video = JSON.parse(xkj_video);
                this.xkj_video['v' + this.id] = this.currId;
                localStorage.setItem('xkj_video', JSON.stringify(this.xkj_video))
            },

            // 切换视频播放
            switchVideo: function (item, idx) {
                if (this.currId === item.id) return false;
                this.isVideo = item.video_url.indexOf('.mp4') > -1 ? true : false;
                this.videoSrc = item.video_url;
                this.title = idx + 1 + '. ' + item.title;
                this.currId = item.id;
                this.currIdx = idx;
                document.title = item.title;

                if (this.player) {
                    this.$nextTick(() => {
                        this.player.src(this.videoSrc);
                        this.player.load();
                        // 获取播放剩余时间
                        this.rtime = this.myTime(parseInt(this.player.remainingTime()));
                    })
                }

                // this.$nextTick(() => {
                //     this.elevideo.load()
                // })
                this.setTimes(); // 设置当前可定时的集数
                this.saveVideo(); // 保存当前播放的集
            },

            // 选择定时播放集数
            selectTimes: function (e) {
                var times = Number(e.target.value);
                this.player.off('ended')
                if (times === 0) {
                    // 全部循环
                    this.player.on('ended', () => {
                        var nextIdx = this.currIdx + 1;
                        var item = this.list[nextIdx];
                        this.switchVideo(item, nextIdx);
                    })
                } else if (times === 1) { // 播完当前
                    this.player.off('ended');
                } else {
                    // 开启定时
                    this.player.on('ended', () => {
                        times--;
                        if (times === 0) {
                            this.player.off('ended')
                        } else {
                            var nextIdx = this.currIdx + 1;
                            var item = this.list[nextIdx];
                            this.switchVideo(item, nextIdx);
                        }
                    })
                }
            },

            // 获取可设置的集数
            setTimes: function () {
                var len = this.list.length; // 获取全部集数
                var currIdx = this.currIdx; // 当前集数位置
                var times = 6; // 设置最多集数
                if (currIdx + times > len) {
                    this.times = len - currIdx;
                } else {
                    this.times = times;
                }
            },

            // 开启自动播放下一集 废弃
            switchAuto: function () {
                this.$nextTick(() => {
                    this.elevideo.addEventListener('ended', function () { //结束
                        for (var idx = 0; idx < this.list.length; idx++) {
                            if (idx === this.currIdx + 1) {
                                var item = this.list[idx];
                                this.switchVideo(item, idx);
                                break;
                            }
                        }
                    }.bind(this), false);
                })
            },

            // 设置当前播放视频列表的位置
            setDom: function (item) {
                this.$nextTick(() => {
                    document.title = item.title;
                    var dom = this.$refs['v' + item.id];
                    dom = dom[0]
                    var toH = dom.offsetTop
                    window.scrollTo(0, toH - 80)
                });
            },

            // 获取设置视频播放位置
            savePlayPos: function () {
                this.$nextTick(() => {
                    setTimeout(()=>{
                        this.setPlayPos();
                    }, 100)
                    setInterval(() => {
                        this.setPlayPos();
                    }, 3000);
                })

            },

            // 获取播放位置
            setPlayPos: function () {
                // var time = this.elevideo.currentTime;
                var time = this.player.currentTime();
                this.xkj_time['v' + this.id] = time ? time : 0;
                localStorage.setItem('xkj_time', JSON.stringify(this.xkj_time))
                // 获取剩余时间
                this.rtime = this.myTime(parseInt(this.player.remainingTime()));
            },

            // 获取数据
            getData: function () {
                this.id = parseInt(this.getParams('id'));
                var vid = parseInt(this.getParams('vid'));
                var path = this.apiUrl + '/api/article/menu';
                var body = JSON.stringify({ "a_id": this.id });
                var opt = { method: "post", body: body };
                this.getJson(path, opt).then((res) => {
                    res = res['data'];
                    this.list = res;

                    if (!vid) {// 默认本地哪一集
                        var xkj_video = localStorage.getItem('xkj_video');
                        if (xkj_video) this.xkj_video = JSON.parse(xkj_video);
                        vid = this.xkj_video['v' + this.id];
                    }
                    this.list.forEach((item, idx) => {
                        item.video_time = this.myTime(item.video_time)
                        if (vid && item.id === vid) {
                            this.switchVideo(item, idx);
                            this.setDom(item);
                        }
                    });
                    if (!vid) {
                        this.switchVideo(this.list[0], 0);
                        this.setDom(this.list[0]);
                    };

                    this.$nextTick(() => {
                        this.player = videojs('my-video', this.options, function onPlayerReady() {
                            // this.play(); 
                            // 自动播放下一集
                            // this.on('ended', function () {
                            //     var nextIdx = that.currIdx + 1;
                            //     var item = that.list[nextIdx];
                            //     that.switchVideo(item, nextIdx);
                            // });
                        });

                        // 初始化视频当前视频播放位置
                        var xkj_time = localStorage.getItem('xkj_time');
                        this.xkj_time = xkj_time ? JSON.parse(xkj_time) : {}
                        this.currTime = this.xkj_time['v' + this.id];
                        this.currTime = this.currTime ? this.currTime : 0;
                        this.player.src(this.videoSrc);
                        this.player.currentTime(this.currTime);
                        this.player.load();//加载视频文件后才可以设置时间
                        // 开启自动保存播放进度
                        this.savePlayPos();
                    })

                    // if (this.currTime) {
                    //     this.elevideo.currentTime = this.currTime;
                    // } else {
                    //     this.elevideo.currentTime = 0;
                    // }
                    // this.$nextTick(() => {
                    //     this.elevideo.load()
                    // })
                    // 开启自动播放
                    // this.switchAuto();
                    // 开启自动保存播放进度
                    // this.savePlayPos();
                })
            }
        },
        created: function () {
            that = this;

        },
        mounted: function () {
            this.elevideo = document.getElementById("my-video")
            this.options = {
                autoplay: true,     // 自动播放
                controls: true,      // 显示控制条
                loop: false,        // 是否循环
                muted: false,       // 是否静音
                preload: 'auto',    // 预加载auto-自动
                language: 'en',     // 设置语音
                // playbackRates: [0.5, 0.8, 1, 1.25, 1.5, 2],  // 设置倍数
                // controlBar: true,   // 是否显示控制栏
                // children: [
                //     'bigPlayButton',
                //     'controlBar'
                // ],

                // fluid: true,     // 设置缩放以适合其容器
                // audioOnlyMode: false,   // 设置是否仅仅音频模式
                // audioPosterMode: true,  // 设置是否海报音频显示
                //metadata-元数据信息 ，比如视频长度，尺寸等
                //none-不预加载任何数据，直到用户开始播放才开始下载
                poster: 'https://api2022.xukongji.com/upload_file/20220830111608-630d80f8e497c.jpg', // 播放前显示的视频画面
                // width: 300,height: 300, // 设置宽高
                //plugins:自动初始化要加载的插件
            };

            this.getData();
            if (window.matchMedia && window.matchMedia('(prefers-color-scheme: dark)').matches) {
                this.isDark = true;
            } else {
                this.isDark = false;
            }
        }
    })
</script>

</html>